<div class="card text-center">
  <div class="card-header" style="height: 3.1rem;"></div>
  <div class="card-body">
    <h4 class="card-title">Welcome</h4>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aliquam
      cupiditate dignissimos asperiores nostrum quia vero, non aperiam et
      itaque?
    </p>
    <a href="#" class="btn btn-primary">See transactions</a>
  </div>
  <div class="card-footer" style="height: 3.1rem;">You have {{ total }} transactions</div>
</div>
